[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
keras = "*"
tensorflow = "*"
tensorflowjs = "*"

[dev-packages]

[scripts]
dev = "python run app.py"

[requires]
python_version = '3.8'
